<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="bg"></div>
  <div class="contents">
    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/tabs/lists"></ion-back-button>
      </ion-buttons>
      <ion-title>Lists</ion-title>
      <ion-buttons slot="end">
        <ion-button color="secondary" (click)="scan()">
          <ion-icon slot="start" name="scan-circle-outline"></ion-icon>SCAN
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card *ngIf="list">
      <ion-card-header>
        <ion-card-title> {{ list.title }} </ion-card-title>
        <ion-card-subtitle> {{ list.description }} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>Saved Items</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let test of itemRef">
            <ion-label>
              <p>{{ test.sn }}</p>
              <p>{{ test.content }}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="!items">
            <ion-label>There are no items to display</ion-label>
          </ion-item>
          <ion-item-sliding *ngFor="let item of items; let i=index">
            <ion-item >
              <ion-grid>
                <ion-row>
                  <ion-col size-sm="3">
                    <ion-label>{{i + 1 }}</ion-label>
                  </ion-col>
                  <ion-col size-sm="9">
                    <ion-label>{{item.content}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="delete(item.id)" color="danger">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="full" (click)="createPdf()">Generate Pdf</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="full" (click)="downloadPdf()" color="secondary" [disabled]="!pdfMaker">Download Pdf
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>