<ion-content>
  <div class="bg"></div>
  <div class="contents">
    <ion-toolbar translucent>
      <ion-title>Identity Validation</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button color="secondary" (click)="scan()">
          <ion-icon slot="start" name="scan-circle-outline"></ion-icon>SCAN
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
    <form [formGroup]="mainForm">
      <ion-grid>
        <ion-row>

          <ion-col size="9">
            <ion-item>
              <ion-label position="floating">Search with Profile ID</ion-label>
              <ion-input formControlName="stid" type="text" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="searchStudent()" expand="full" color="primary">Search</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </form>
    <ion-card>
      <ion-card-content>
        <!--<form [formGroup]="mainForm">
          <ion-item>
            <ion-label position="floating">Search with Profile ID</ion-label>
            <ion-input formControlName="stid" type="text" required (change)="searchStudent($event)"></ion-input>
          </ion-item>
          <ion-button (click)="searchStudent()" expand="full" color="primary">Save</ion-button>
        </form> -->

        <ion-button expand="full" color="primary" (click)="scan()">
          <ion-icon slot="start" name="scan-circle-outline"></ion-icon>
          <ion-label>Scan QR Code</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Student's Record</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="!item">
        No record to display
      </ion-card-content>

      <ion-card-content *ngIf="item" style="text-align: center;">
        <img [src]="item.passport" alt="" srcset="">
        <ion-list>
          <ion-item>
            <ion-label>
              <p>Name</p>
              <h2>{{ item.name }}</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>Matric No</p>
              <p>{{ item.matric }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>Phone No</p>
              <p>{{ item.phone }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>Department</p>
              <p>{{ item.department }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>Faculty</p>
              <p>{{ item.faculty }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>ID expiry date</p>
              <p> {{ item.expiryDate.seconds*1000 | date}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>Admission date</p>
              <p> {{ item.admission.seconds*1000 | date}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>