<ion-content>
  <div class="bg"></div>
  <div class="contents">

    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/tabs/lists"></ion-back-button>
      </ion-buttons>
      <ion-title>create List</ion-title>
    </ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Create a New List</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">List Title</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">List Description</ion-label>
          <ion-textarea rows="8"></ion-textarea>
        </ion-item>
        <ion-button expand="full" color="primary">Save</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>