.bg {
  background: url('../../../assets/img/bg.jpg') 0 0/100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh !important;
}
ion-content {
  --background: url(../../../assets/img/splash.png) 0px 90px/100% 100% no-repeat;
  background: #ffffff;
}

.contents {
  position: relative;
}

ion-toolbar {
  --background: transparent !important;
  --color: #fff !important;
}
